div.buttonbar{
  color:#666;
}
div.popup{
  margin-top:15px;
  margin-left:0px;
  border-left:1px solid #bbbbbb;
  padding-left:15px;
  color:#666;
}
.button{
  background-color:#ffffff;
  padding:0px;
  font:14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#0a7fda;
  font-weight:400;
  cursor:pointer;
  border:none;
}
.wrapper{width:860px;margin:0 auto}
